# This file is part of the PRS project (laravel only migrations and seeders).
APP_NAME=PRS
APP_ENV=local
APP_DEBUG=true

# Database configuration for PostgreSQL
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=prs
DB_USERNAME=prs
DB_PASSWORD=prs