
# Database configuration for PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=prs
DB_USER=prs
DB_PASSWORD=prs

# Configuration for the recommendation model
MODEL_SAVE_PATH=./models/recommendation_model
EMBEDDING_DIM=128
PORT=3001