<div class="col-md-3 col-sm-6 col-12">
    <div class="card product-card h-100">
        <div class="card-body">
            <h5 class="card-title">
                {{name}}
                {{scoreHtml}}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{category}}</h6>
            <p class="card-text">
                <strong>Price:</strong> ${{price}}<br>
                <strong>Color:</strong> {{color}}<br>
            </p>
            <button class="btn btn-primary buy-now-btn w-100" data-product='{{product}}'>Buy Now</button>
        </div>
    </div>
</div>